/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headings {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  /* width: 160px; */
  /* height: 120px; */
  /* flex-direction: row; */
  border: 5px solid rgb(116, 63, 4);
}

tbody,
th,
tr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-bottom: 0.3rem; */
  margin: 0.05rem;
  /* border: 1px solid black; */
}

th {
  margin: 0.05rem;
  width: 14.05vw;
  height: 10vh;
  flex-direction: row;
  color: antiquewhite;
  background-color: rgb(255, 153, 0);
  border-radius: 5px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 160px;
  height: 120px;
  background-color: rgb(255, 156, 0);
  border: 5px solid rgb(200, 114, 1);
 
  /* border-left: 5px solid rgb(19, 19, 160);
  border-right: 5px solid rgb(11, 11, 100);
  border-top: 5px solid rgb(1, 61, 200);
  border-bottom: 5px solid rgb(20, 20, 100); */
  border-radius: 5px;
  text-align: center;
  /* font-size: 100px; */
  /* margin: 5px; */
  padding: 5px;
  /* line-height: 120px; */
}
